NET "a" LOC = P74 | IOSTANDARD = LVTTL;
NET "b" LOC = P78 | IOSTANDARD = LVTTL;
NET "c" LOC = P80 | IOSTANDARD = LVTTL;
NET "sum" LOC = P84 | IOSTANDARD = LVTTL;
NET "carry" LOC = P87 | IOSTANDARD = LVTTL;
